<nav class="mb-5 p-3 navbar bg-success">
    <div class="container-fluid">
      <span class="navbar-brand  text-light mb-0 h1">To-Do</span>
    </div>
</nav>
<div class="mx-auto h-4 w-50 bg-success p-3 rounded">
    <div class="m-3 text-center">
        <h3 class="text-light">Tasks TODO</h3>
    </div>
    <div class="mx-auto m-3 col-md-4 col-sm-6 col-8 input-group ">
        <span class="p-2 input-group-text bg-success text-light" id="basic-addon1">Task</span>
        <input type="text" class="form-control" placeholder="Enter task Here" aria-label="task" aria-describedby="basic-addon1" [(ngModel)]="task">
        <button class="btn btn-outline-light me-2" (click)="addTask()" >Add Task</button>
    </div>
    <div class="mx-auto">
        <ul class="list-group" *ngFor="let data of list;let i=index">
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary mt-2" >
                <input *ngIf="editIndex === i" [(ngModel)]="editedTask" class="form-control">
                <span *ngIf="editIndex!==i">{{data}}</span>
                <div>
                    <button type="button" *ngIf="editIndex==i" class="btn btn-success">Save</button>
                    <button type="button" *ngIf="editIndex!==i" class="btn btn-dark me-2" (click)="editTask(i,data)" >Edit</button>
                    <button type="button" *ngIf="editIndex!==i" (click)="removeTask(i)" class="btn-close btn-danger" aria-label="Close"></button>
                </div>
            </li>
        </ul>
    </div>
 
</div>